<%- include ("../partials/header") %>


<header class="jumbotron pb-1">
  <div class="container">
      <h1 class="jumbo-heading"><i class="fas fa-laptop-code"></i> Welcome To Techbook!</h1>
      <p>View all the recent updates in the field of technology from all over the world || Bleh! Post anything for now. </p>
      <p>
         <a class="btn btn-outline-primary btn-lg" href="/campgrounds/new">Add New Post</a>
      </p>     
  </div>
</header>

<div class="row text-center flex-wrap" id="campground-grid">
 <% campgrounds.forEach(function(campground){ %>
     <div class="col-lg-3 col-md-4 col-sm-6 py-2">
         <div class="card">
            <img src="<%= campground.image %>" class="card-img-top" alt="">
            <div class="card-body">
              <h5 class="card-title"><%= campground.name %></h5>
              <p class="card-text"><a href="/campgrounds/<%= campground._id %>" class="btn btn-outline-dark">More Info</a>
                
            </p>
            </div>
          </div>
     </div>
 <% }); %>
</div>


<%- include ("../partials/footer") %>
